.footer {
  padding: 60px 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  margin: 0;
}

.footer__content {
  display: flex;
  margin: 0 80px 100px 80px;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo {
  width: 106px;
  height: 39px;
}

.footer__column {
  margin: 0;
}

.footer__column-heading {
  margin: 0 0 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 0;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__social-link {
  align-items: center;
  display: flex;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.footer__social-link:hover {
  opacity: 0.7;
}

.footer__copyright {
  margin: 108px 0 0 80px;
}
